python ==3.9.*
bcftools
black
blas =*=openblas
biopython
bokeh
bqplot
cartopy
click
colorcet
cython
cytoolz
dash
dask
# match nebari-dask 2022.10.1 pinning
dask-gateway ==2022.4.0
dask-ml
distributed
fastcluster
fastparquet
flake8
fsspec
fusepy
gcsfs
gdal
geopandas
geoviews
google-cloud-sdk
graphviz
h5py
hmmlearn
holoviews
htslib
humanize
hvplot
importlib_metadata <5.0
importnb
intake
intake-xarray
intervaltree
ipydatagrid
ipyigv
ipykernel
ipyleaflet
ipympl
ipython
ipytree
ipywidgets
isort
jedi
joblib
jupyter
jupyter-book >=0.12.0
jupyter_console
jupyter_client
jupyter-resource-usage
jupyterlab >=3.0
jupyterlab_code_formatter
jupyterlab_launcher
jupyterlab-system-monitor
jupyterlab-variableinspector
jupytext
lmfit
matplotlib
matplotlib-venn
msgpack-python
msprime
mysqlclient
nbconvert
nbserverproxy
nbval
ncurses
nodejs
nose
notebook
numba
numcodecs
numexpr
numpy
openpyxl
pandas
panel
param
peakutils
petl
pillow
pip
plotly
pomegranate
psutil
pyproj
pyprojroot
pyshp
pytables
pytest
pytest-cov
python-graphviz
pyvcf
pyviz_comms
rasterio
rioxarray
rtree
samtools
s3fs
scikit-allel
scikit-image
scikit-learn
scipy
seaborn
sgkit
shapely
snakemake
sphinx
sphinx-autobuild
streamlit
toolz
umap-learn
voila >=0.2.7
voila-gridstack
xarray
xlrd
xlwt
zarr
zict
