python=3.7
black
blas=*=openblas
biopython
bokeh
bqplot
click
colorcet
cython
cytoolz
dash
# match qhub pinning
dask==2.30.0
# match qhub pinning
dask-gateway==0.9.0
dask-ml
# match qhub pinning
distributed==2.30.1
fastcluster
fastparquet
flake8
# pin until we resolve https://github.com/malariagen/vector-data/issues/24
fsspec==0.8.7
fusepy
# pin until we resolve https://github.com/malariagen/vector-data/issues/24
gcsfs==0.7.2
graphviz
h5py
hmmlearn
holoviews
humanize
hvplot
importnb
intake
intake-xarray
intervaltree
ipykernel
ipython
ipyleaflet
ipytree
ipywidgets
isort
jedi
joblib
jupyter
jupyter_console
jupyter_client
jupyter-resource-usage
jupyterlab
jupyterlab_code_formatter
jupyterlab_launcher
jupyterlab-system-monitor
jupyterlab-variableinspector
lmfit
matplotlib
matplotlib-venn
msgpack-python
msprime
mysqlclient
nbconvert
nbserverproxy
nbval
ncurses
nodejs
nose
notebook
numba
numcodecs
numexpr
numpy
openpyxl
pandas
panel
param
peakutils
petl
pillow
pip
plotly
pomegranate
psutil
pyprojroot
pytables
pytest
pytest-cov
python-graphviz
pyvcf
pyviz_comms
s3fs
scikit-allel
scikit-image
scikit-learn
scipy
seaborn
sgkit
sphinx
streamlit
toolz
umap-learn
voila
voila-gridstack
xarray
xlrd
xlwt
# pin until we resolve https://github.com/malariagen/vector-data/issues/24
zarr==2.6.1
zict
