python=3.6
blas=*=openblas
bcolz
biopython
bokeh
bqplot
cartopy
click
cython
cytoolz
dask
dask-kubernetes
dask-ml
distributed
fastcluster
fastparquet
fusepy
gcsfs
graphviz
h5py
hmmlearn
holoviews
humanize
intake
intake-xarray
intervaltree
ipykernel
ipython
ipyleaflet
ipywidgets
jedi
joblib
jupyter
jupyter_console
jupyter_client
# N.B. jupyterhub versions need to match hub image
# https://repo2docker.readthedocs.io/en/latest/howto/jupyterhub_images.html
jupyterhub=1.0
jupyterlab
jupyterlab_launcher
jupytext
lmfit
matplotlib
matplotlib-venn
msgpack-python
msprime
mysqlclient
nb_conda_kernels
nbconvert
nbserverproxy
nodejs
nose
notebook
numba
numcodecs
numexpr
numpy
openpyxl
pandas
# problem, causes inconsistency:
# peakutils
petl>=1.3
pillow
pip
pomegranate
psutil
pytables
python-graphviz
python-kubernetes
pyvcf
pyzmq
qtconsole
s3fs
scikit-allel
scikit-image
scikit-learn
scipy
seaborn
toolz
tornado
xarray
xlrd
xlwt
zarr
zict
