python ==3.12.*
adlfs
bcftools >=1.16
black
blas =*=openblas
biopython
bokeh >=3.1.0
bqplot
cartopy
click
coiled
colorcet
cython
cytoolz
dash
# match nebari-dask 2022.11.1 pinning, ...ish
# nebari-dask ==2022.11.1
dask
dask-gateway ==2022.10.0
distributed
dask-ml
fastcluster
fastparquet
fiona
flake8
fsspec
fusepy
gcsfs
gdal
geopandas
geoviews
google-cloud-sdk
google-crc32c
graphviz
h5py
hmmlearn
holoviews
htslib >=1.16
humanize
hvplot
importnb
intake
intake-xarray
intervaltree
ipydatagrid
ipyigv
ipykernel
ipyleaflet
ipympl
ipython
ipytree
ipywidgets
iso3166
isort
jedi
joblib
jupyter
jupyter-book
jupyter_console
jupyter_client
jupyter-resource-usage
jupyterlab
jupyterlab_code_formatter
jupyterlab_launcher
jupyterlab-system-monitor
jupyterlab-variableinspector
jupytext
lmfit
matplotlib
matplotlib-venn
msgpack-python
msprime
mysqlclient
mysql-common <9.0.0
mysql-libs <9.0.0
nbconvert
nbserverproxy
nbval
ncurses
nodejs
nose
notebook
numba
numcodecs
numexpr
numpy
openpyxl
pandas
panel
param
peakutils
petl
pillow
pip
plotly
pomegranate
psutil
pycountry
pyproj
pyprojroot
pyshp
pytables
pytest
pytest-cov
python-graphviz
pyviz_comms
rasterio
rioxarray
rsync
rtree
samtools
s3cmd >=2.4.0
s3fs
scikit-image
scikit-learn
scipy
seaborn
shapely
snakemake
sphinx
sphinx-autobuild
streamlit
toolz
umap-learn
voila
voila-gridstack
xarray
xlrd
xlwt
zarr
zict
